/* ParticipantEntry.css */

.participant-entry {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
  }
  
  .runner-details {
   flex: 1;
   margin-right: 20px;
   background-color: #ccc;
   padding: 10px 60px;
   margin: 30px 80px;
    text-align: left;
    font-family: sans-serif;
  } 

  .runner-details p{
    color: #8d8888;
  }
   
    
  
  
  .runner-details label {
    display: block;
    margin-bottom: 5px;
  }
  
  .runner-details input {
    width: 50px;
    height: 30px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #8d8888;
    font-family: sans-serif;
  }
  
  .list-of-participants {
    flex: 1;
    text-align: left;
    padding: 10px 20px;
    background-color: #fff;
    padding: 10px 60px;
   margin: 30px 80px;
   font-family: sans-serif;
  }
  
  .list-of-participants h2 {
    margin-bottom: 10px;
  }
  
  .list-of-participants table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .list-of-participants th,
  .list-of-participants td {
    border: 1dvb solid #ccc;
    padding: 8px;
  }
  
  .list-of-participants th {
    background-color: #f2f2f2;
  }
  
  .list-of-participants button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
  }
  
  .list-of-participants button:hover {
    background-color: #0056b3;
  }



.add-runner-button{
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  padding: 15px 20px;
  border: none;
}